# Imports

In [9]:
import pandas as pd
import numpy as np
import ast

# Data

In [4]:
movies = pd.read_csv(r"C:\Users\CPL17\OneDrive\Documents\Data\movies_clean.csv")
credits = pd.read_csv(r"C:\Users\CPL17\OneDrive\Documents\Data\credits.csv")

In [5]:
movies[:1]

,id,title,tagline,release_date,genres,belongs_to_collection,original_language,budget_musd,revenue_musd,production_companies,production_countries,vote_count,vote_average,popularity,runtime,overview,spoken_languages,poster_path
0,862,Toy Story,NaN,1995-10-30,Animation|Comedy|Family,Toy Story Collection,en,30.0,373.554033,Pixar Animation Studios,United States of America,5415.0,7.7,21.946943,81.0,"Led by Woody, Andy's toys live happily in his ...",English,<img src='http://image.tmdb.org/t/p/w185//rhIR...

In [6]:
credits[:1]

,cast,crew,id
0,"[{'cast_id': 14, 'character': 'Woody (voice)',...","[{'credit_id': '52fe4284c3a36847f8024f49', 'de...",862

In [7]:
credits.drop_duplicates(subset=['id'],inplace=True)

## Merging the Data

In [ ]:
(~movies.id.isin(credits.id)).sum()

0

In [ ]:
(~credits.id.isin(movies.id)).sum() # there are credit ids not in movies

741

In [8]:
movies_full = pd.merge(movies,credits,how='left',on='id')

In [ ]:
movies_full.head(3)

      id  ...                                               crew
0    862  ...  [{'credit_id': '52fe4284c3a36847f8024f49', 'de...
1   8844  ...  [{'credit_id': '52fe44bfc3a36847f80a7cd1', 'de...
2  15602  ...  [{'credit_id': '52fe466a9251416c75077a89', 'de...

[3 rows x 20 columns]

## Cleaning and Transforming Nested Columns

### Cast Column

In [11]:
movies_full['cast'] = movies_full['cast'].apply(lambda x: ast.literal_eval(x) if isinstance(x,str) else np.nan)

In [ ]:
from pprint import pprint
pprint(movies_full['cast'][0][:2])

[{'cast_id': 14,
  'character': 'Woody (voice)',
  'credit_id': '52fe4284c3a36847f8024f95',
  'gender': 2,
  'id': 31,
  'name': 'Tom Hanks',
  'order': 0,
  'profile_path': '/pQFoyx7rp09CJTAb932F2g8Nlho.jpg'},
 {'cast_id': 15,
  'character': 'Buzz Lightyear (voice)',
  'credit_id': '52fe4284c3a36847f8024f99',
  'gender': 2,
  'id': 12898,
  'name': 'Tim Allen',
  'order': 1,
  'profile_path': '/uX2xVf6pMmPepxnvFWyBtjexzgY.jpg'}]

In [14]:
# Determine cast size 

movies_full['cast_size'] = movies_full['cast'].apply(lambda x: len(x))

In [13]:
# Extract actor names 

movies_full['cast'] = movies_full['cast'].apply(lambda x: "|".join([actor['name'] for actor in x]) if isinstance(x, list) else np.nan)

In [15]:
movies_full['cast'][0]

'Tom Hanks|Tim Allen|Don Rickles|Jim Varney|Wallace Shawn|John Ratzenberger|Annie Potts|John Morris|Erik von Detten|Laurie Metcalf|R. Lee Ermey|Sarah Freeman|Penn Jillette'

In [16]:
movies_full.cast.replace("", np.nan, inplace = True) #Encode empty strings a missing

### "Crew" Column

In [17]:
movies_full['crew'] = movies_full['crew'].apply(lambda x: ast.literal_eval(x) if isinstance(x,str) else np.nan)

In [ ]:
pprint(movies_full.crew[0][:2])

[{'credit_id': '52fe4284c3a36847f8024f49',
  'department': 'Directing',
  'gender': 2,
  'id': 7879,
  'job': 'Director',
  'name': 'John Lasseter',
  'profile_path': '/7EdqiNbr4FRjIhKHyPPdFfEEEFG.jpg'},
 {'credit_id': '52fe4284c3a36847f8024f4f',
  'department': 'Writing',
  'gender': 2,
  'id': 12891,
  'job': 'Screenplay',
  'name': 'Joss Whedon',
  'profile_path': '/dTiVsuaTVTeGmvkhcyJvKp2A5kr.jpg'}]

In [23]:
movies_full['crew_size'] = movies_full['crew'].apply(lambda x: len(x))

In [22]:
def get_director(x):
    for i in x:
        if i['job'] == 'Director':
            return i['name']
    return np.nan

movies_full["director"] = movies_full.crew.apply(get_director)

## Final Steps

In [24]:
movies_full.drop(columns=['crew'],inplace=True)

In [25]:
movies_full.head()

,id,title,tagline,release_date,genres,belongs_to_collection,original_language,budget_musd,revenue_musd,production_companies,...,vote_average,popularity,runtime,overview,spoken_languages,poster_path,cast,cast_size,crew_size,director
0,862,Toy Story,NaN,1995-10-30,Animation|Comedy|Family,Toy Story Collection,en,30.0,373.554033,Pixar Animation Studios,...,7.7,21.946943,81.0,"Led by Woody, Andy's toys live happily in his ...",English,<img src='http://image.tmdb.org/t/p/w185//rhIR...,Tom Hanks|Tim Allen|Don Rickles|Jim Varney|Wal...,170,106,John Lasseter
1,8844,Jumanji,Roll the dice and unleash the excitement!,1995-12-15,Adventure|Fantasy|Family,NaN,en,65.0,262.797249,TriStar Pictures|Teitler Film|Interscope Commu...,...,6.9,17.015539,104.0,When siblings Judy and Peter discover an encha...,English|Français,<img src='http://image.tmdb.org/t/p/w185//vzmL...,Robin Williams|Jonathan Hyde|Kirsten Dunst|Bra...,381,16,Joe Johnston
2,15602,Grumpier Old Men,Still Yelling. Still Fighting. Still Ready for...,1995-12-22,Romance|Comedy,Grumpy Old Men Collection,en,NaN,NaN,Warner Bros.|Lancaster Gate,...,6.5,11.712900,101.0,A family wedding reignites the ancient feud be...,English,<img src='http://image.tmdb.org/t/p/w185//6ksm...,Walter Matthau|Jack Lemmon|Ann-Margret|Sophia ...,94,4,Howard Deutch
3,31357,Waiting to Exhale,Friends are the people who let you be yourself...,1995-12-22,Comedy|Drama|Romance,NaN,en,16.0,81.452156,Twentieth Century Fox Film Corporation,...,6.1,3.859495,127.0,"Cheated on, mistreated and stepped on, the wom...",English,<img src='http://image.tmdb.org/t/p/w185//16XO...,Whitney Houston|Angela Bassett|Loretta Devine|...,149,10,Forest Whitaker
4,11862,Father of the Bride Part II,Just When His World Is Back To Normal... He's ...,1995-02-10,Comedy,Father of the Bride Collection,en,NaN,76.578911,Sandollar Productions|Touchstone Pictures,...,5.7,8.387519,106.0,Just when George Banks has recovered from his ...,English,<img src='http://image.tmdb.org/t/p/w185//e64s...,Steve Martin|Diane Keaton|Martin Short|Kimberl...,176,7,Charles Shyer